* {
	--primary: #F4F4F4;
	--secondary: #971549;
	--tertiary: #4AA9AF;
	--highlight: #FB9935;
	font-family: Helvetica;
	color: var(--secondary);
	background-color: var(--primary)
}

#play-area {
	height: 80vmin;
	width: 80vmin;
	margin: 4vmin 4vmin 1vmin 4vmin;
}

#border, #overlay {
	position: absolute;
	height: 80vmin;
	width: 80vmin;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
}

#border {
  	background-color: var(--secondary);
}

#overlay {
  	background-color: var(--tertiary);
}

#reset {
	background-color: var(--highlight);
	color: var(--primary);
	height: 25vmin;
	width: 25vmin;
	border-radius: 12.5vmin;
	font-size: 6vmin;
	outline: none;
	border: none;
}

#grid {
	position: relative;
	height: 60vmin;
	width: 60vmin;
	background-color: var(--primary);
}

#player {
	position: absolute;
	height: 6vmin;
	width: 6vmin;
	background-color: var(--tertiary)
}

.coin {
	position: absolute;
	height: 6vmin;
	width: 6vmin;
	border-radius: 3vmin;
	background-color: var(--highlight)
}

.controls {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

#trackers {
	display: flex;
	flex-direction: row;
}

.info {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: middle;
	font-size: 5vmin;
	margin: 4vmin 4vmin 1vmin 4vmin;
	user-select: none;
}

.info p {
	margin: 0;
	text-align: center;
}

.focus-value {
	font-size: 16vmin;
}

#record {
	font-size: 3.5vmin;
	text-align: right;
	margin: 1vmin 4vmin 1vmin 4vmin;
}

