* {
	--primary: #F06868;
	--secondary: #FAB57A;
	--tertiary: #EDF798;
	--highlight: #80D6FF;
	font-family: Helvetica;
	color: var(--primary);
}

h1 {
	user-select: none;
}

#border {
	height: 500px;
	width: 500px;
	margin: 25px;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
	background-color: var(--primary);
}

#grid {
	position: relative;
	height: 400px;
	width: 400px;
	background-color: var(--tertiary);
}

#player {
	position: absolute;
	height: 40px;
	width: 40px;
	background-color: var(--highlight)
}

.coin {
	position: absolute;
	height: 40px;
	width: 40px;
	border-radius: 20px;
	background-color: var(--secondary)
}

.controls {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

#scoreboard {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: middle;
	font-size: 3vmax;
	margin: 25px;
}

#scoreboard p {
	margin: 0;
	text-align: center;
}

#score {
	font-size: 10vmax;
}