* {
	--primary: #2C3D4F;
	--secondary: #34495D;
	--tertiary: #EE7738;
	--highlight: #F59D2A;
	font-family: Helvetica;
	color: var(--primary);
}

#border {
	height: 80vmin;
	width: 80vmin;
	margin: 5vmax;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
	background-color: var(--primary);
}

#grid {
	position: relative;
	height: 60vmin;
	width: 60vmin;
	background-color: var(--secondary);
}

#player {
	position: absolute;
	height: 6vmin;
	width: 6vmin;
	background-color: var(--tertiary)
}

.coin {
	position: absolute;
	height: 6vmin;
	width: 6vmin;
	border-radius: 3vmin;
	background-color: var(--highlight)
}

.controls {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

#scoreboard {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: middle;
	font-size: 3vmax;
	margin: 5vmax;
	user-select: none;
}

#scoreboard p {
	margin: 0;
	text-align: center;
}

#score {
	font-size: 10vmax;
}